<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% set cssUrl = webpack_asset('@MabaWebpackTestBundle/Resources/assets/customized.js', 'css') %}
    {% if cssUrl %}
    <link rel="stylesheet" id="css1" href="{{ cssUrl }}"/>
    {% endif %}

    <link rel="stylesheet" id="css2" href="{{ webpack_asset('@MabaWebpackTestBundle/Resources/assets/style.less') }}"/>

    <!-- Test filenames with spaces: {{ webpack_asset('@app/directory with space/asset name with space.css') }}" -->
</head>
<body>
<script src="{{ webpack_asset('@MabaWebpackTestBundle/Resources/assets/customized.js') }}"></script>

<img src="{{ webpack_asset('@MabaWebpackTestBundle/Resources/assets/cat.png') }}"/>

</body>
</html>